<!-- <form name="pForm" #pForm="ngForm">
    <input type="text" #myName=ngModel class="form-control" id="name"
    required
    [(ngModel)]="name" name="name"
    >
        <div *ngIf="myName.errors?.required" style="color: red">
          Name is required
        </div>
  
  <br>TODO: remove this: {{myName.className}}
  <button name="submit" [disabled]="pForm.invalid">Submit</button>
</form>
 -->

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Angular 6 Template-Driven Form Validation</h3>
              <form name="form" #myForm="ngForm" (ngSubmit) = "onSubmit(myForm)" appCustomBlank>
                  <div class="form-group">
                      <label for="firstName">First Name*</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" #firstname="ngModel"   required minlength="6" />
                      <div *ngIf="firstname.touched && firstname.invalid">
                        <div *ngIf="firstname.invalid && firstname.errors.required" class="alert alert-danger">First name is mandatory</div>
                        <div *ngIf="firstname.invalid && firstname.errors.minlength" class="alert alert-danger">First name must have minimum 6 characters</div>
                    </div>

                      <div *ngIf="myForm.submitted && firstname.invalid">
                          <div *ngIf="firstname.invalid && firstname.errors.required" class="alert alert-danger">First name is mandatory</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName"  #lastname="ngModel" required />
                      
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" class="form-control" name="email" [(ngModel)]="email2" #email="ngModel" [ngClass]="{ 'is-invalid': email.touched && email.invalid }" required email  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
                      />
                      <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
                          <div *ngIf="email.errors.required">Email is required</div>
                          <div *ngIf="email.errors?.email">Email must be a valid email address</div>
                          <p *ngIf="email.errors?.pattern">This is not a valid Email Pattern!!!</p>

                      </div>
                  </div>
                  <div class="form-group">
                    <label for="selectcity">City</label>

                    <select name="city" class="form-control" [(ngModel)] = "cityvalue" required #cityselect = "ngModel">
                      <option value="Pune">Pune</option>
                      <option value="Mumbai">Mumbai</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Surat">Surat</option>
                    </select>
                    <div *ngIf="cityselect.touched && cityselect.invalid">
                      <div *ngIf="cityselect.invalid && cityselect.errors.required" class="alert alert-danger">City name is mandatory</div>
                      
                  </div>
                </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password" #mypassword="ngModel" minlength="6"/>
                      
                  </div>
                  <div class="form-group">
                    <input  type="radio"  [(ngModel)]="ugender" value="male" name="gender" #gender="ngModel" required > Male
                    <input  type="radio" [(ngModel)]="ugender" value="female" name="gender" #gender="ngModel" required > Female
                    <div *ngIf="gender.touched && gender.invalid"> 
                      Gender required. 
                  </div> 

                  <div class="form-group">
                    <label for="age">age</label>
                    <input type="text" class="form-control" name="myage" appAgeLimitValidator  #myage="ngModel" [(ngModel)] = "age"/>
                    <div *ngIf="myage.touched && myage.invalid">
                      <div *ngIf="myage.invalid && myage.errors.ageRange" class="alert alert-danger">Age is not valid</div>
                      
                  </div>
               </div>
                  <div class="form-group">
                    <input type="checkbox" name="tc" [(ngModel)]="utc" required #tc="ngModel"> T & C
                      <div *ngIf="tc.touched && tc.invalid"> 
                        Accept T & C.
                      </div> 
                  </div> 

                  </div> 
                  <div class="form-group">
                      <button   class="btn btn-primary">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> 

<p>Form valid: {{ myForm.form.valid }}</p>


<!-- main app container
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Angular 6 Template-Driven Form Validation</h3>
              <form name="form" #myForm="ngForm" (ngSubmit) = "onSubmit()">
                  <div class="form-group">
                      <label for="firstName">First Name*</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" #firstname="ngModel"   required minlength="6" />
                      <div *ngIf="firstname.touched && firstname.invalid">
                        <div *ngIf="firstname.invalid && firstname.errors.required" class="alert alert-danger">First name is mandatory</div>
                        <div *ngIf="firstname.invalid && firstname.errors.minlength" class="alert alert-danger">First name must have minimum 6 characters</div>
                    </div>

                      <div *ngIf="myForm.submitted && firstname.invalid">
                          <div *ngIf="firstname.invalid && firstname.errors.required">First name is mandatory</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName"  #lastname="ngModel" required />
                      
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="email"  #myemail="ngModel" required />
                      
                  </div>
                  <div class="form-group">
                    <label for="selectcity">City</label>

                    <select name="city" class="form-control" [(ngModel)] = "cityvalue" required #cityselect = "ngModel">
                      <option value="Pune">Pune</option>
                      <option value="Mumbai">Mumbai</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Surat">Surat</option>
                    </select>
                    <div *ngIf="cityselect.touched && cityselect.invalid">
                      <div *ngIf="cityselect.invalid && cityselect.errors.required" class="alert alert-danger">City name is mandatory</div>
                      
                  </div>
                </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password" #mypassword="ngModel" minlength="6"/>
                      
                  </div>
                  <div class="form-group">
                      <button   class="btn btn-primary">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> 
 --> 
<!--  <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Angular 6 Template-Driven Form Validation</h3>
              <form name="form" #myForm="ngForm" (ngSubmit) = "onSubmit()">
                  <div class="form-group">
                      <label for="firstName">First Name*</label>
                      <input type="text" class="form-control" name="firstName" [(ngModel)]="firstName" #firstname="ngModel"   required minlength="6" />
                      <div *ngIf="firstname.touched && firstname.invalid">
                        <div *ngIf="firstname.invalid && firstname.errors.required" class="alert alert-danger">First name is mandatory</div>
                        <div *ngIf="firstname.invalid && firstname.errors.minlength" class="alert alert-danger">First name must have minimum 6 characters</div>
                    </div>

                      <div *ngIf="myForm.submitted && firstname.invalid">
                          <div *ngIf="firstname.invalid && firstname.errors.required">First name is mandatory</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" [(ngModel)]="lastName"  #lastname="ngModel" required />
                      
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" name="email" [(ngModel)]="email"  #myemail="ngModel" required />
                      
                  </div>
                  <div class="form-group">
                    <label for="selectcity">City</label>

                    <select name="city" class="form-control" [(ngModel)] = "cityvalue" required #cityselect = "ngModel">
                      <option value="Pune">Pune</option>
                      <option value="Mumbai">Mumbai</option>
                      <option value="Delhi">Delhi</option>
                      <option value="Surat">Surat</option>
                    </select>
                    <div *ngIf="cityselect.touched && cityselect.invalid">
                      <div *ngIf="cityselect.invalid && cityselect.errors.required" class="alert alert-danger">City name is mandatory</div>
                      
                  </div>
                </div>
                  <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" [(ngModel)]="password" #mypassword="ngModel" minlength="6"/>
                      
                  </div>
                  <div class="form-group">
                      <button   class="btn btn-primary">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> 
 --> 

<!--
 <div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-2">
              <h3>Angular 6 Template-Driven Form Validation</h3>
              <form name="form" [formGroup]="myFormGr" (ngSubmit) = "onSubmit()">
                  <div class="form-group" >
                      <label for="firstName">First Name*</label>
                      <input [ngClass] = "{'has-danger': myFormGr.controls.firstname.touched && myFormGr.controls.firstname.invalid , 
                      'has-success': myFormGr.controls.firstname.touched && myFormGr.controls.firstname.valid}" type="text" class="form-control" name="firstname" formControlName="firstname"     />
                      {{myFormGr.controls.firstname.valid}}
                      <div *ngIf="myFormGr.controls.firstname.touched && myFormGr.controls.firstname.invalid">
                        <div *ngIf="myFormGr.controls.firstname.invalid && myFormGr.controls.firstname.errors.required" class="alert alert-danger">First name is mandatory</div>
                        <div *ngIf="myFormGr.controls.firstname.invalid && myFormGr.controls.firstname.errors.minlength" class="alert alert-danger">First name must have minimum 6 characters</div>
                    </div>
   
                  </div>
                  <div class="form-group">
                      <label for="lastName">Last Name</label>
                      <input type="text" class="form-control" name="lastName" formControlName="lastname" />
                      
                  </div>
                  <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" name="email"  formControlName="myemail"/>
                      <div *ngIf="myFormGr.controls.myemail.touched && myFormGr.controls.myemail.invalid">
                        <div *ngIf="myFormGr.controls.myemail.invalid && myFormGr.controls.myemail.errors.email" class="alert alert-danger">Email is not valid</div>
                        
                    </div>
                  </div>
                  <div class="form-group">
                        <label for="age">age</label>
                        <input type="text" class="form-control" name="myage"  formControlName="myage"/>
                        <div *ngIf="myFormGr.controls.myage.touched && myFormGr.controls.myage.invalid">
                          <div *ngIf="myFormGr.controls.myage.invalid && myFormGr.controls.myage.errors.ageRange" class="alert alert-danger">Age is not valid</div>
                          
                      </div>
                   </div>
                    <div class="form-group">
                        <label for="mobileNumber">Mobile</label>
                        <input type="text" class="form-control" name="mobileNumber"  formControlName="mobileNumber"/>
                        <div *ngIf="myFormGr.controls.mobileNumber.touched && myFormGr.controls.mobileNumber.invalid">
                          <div *ngIf="myFormGr.controls.mobileNumber.invalid && myFormGr.controls.mobileNumber.errors.pattern" class="alert alert-danger">
                             Mobile No. is not valid
                           </div>
                          
                      </div>
                      <div formGroupName="address">
                            <h3>Address</h3>
                            <div class="form-group">
                            <label>
                              Street:
                              <input type="text" class="form-control" formControlName="street" >
                            </label>
                            <div *ngIf="myFormGr.get('address').controls.street.touched && myFormGr.get('address').controls.street.invalid">
                              <div *ngIf="myFormGr.get('address').controls.street.invalid && myFormGr.get('address').controls.street.errors.required" class="alert alert-danger">First name is mandatory</div>
                              <div *ngIf="myFormGr.get('address').controls.street.invalid && myFormGr.get('address').controls.street.errors.minlength" class="alert alert-danger">First name must have minimum 6 characters</div>
                          </div>
                          </div>
                          <div class="form-group">
                            <label>
                              City:
                              <input type="text" class="form-control" formControlName="city">
                            </label>
                            </div>
                            <div class="form-group">
                            <label>
                              State:
                              <input type="text" class="form-control" formControlName="state">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                              Zip Code:
                              <input type="text" class="form-control" formControlName="zip">
                            </label>
                            </div>
                          </div>
                  </div>
                            <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" name="password" formControlName="mypassword" />
                      
                  </div>
                  <div class="form-group">
                      <button   class="btn btn-primary">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div> 
-->

<app-reactive-forms></app-reactive-forms>