  <div class="row">
<div class="col-3">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item active" (click)="exampleVar='Class'"><button class="btn btn-primary">Class Example</button></li>
    <li class="nav-item " (click)="exampleVar='Interface'"><button class="btn btn-primary">Interface Example</button></li>
    <li class="nav-item " (click)="exampleVar='Types'"><button class="btn btn-primary">Types</button></li>
    <li class="nav-item " (click)="exampleVar='IfFor'"><button class="btn btn-primary">If and Loops</button></li>
  </ul>
</div>
<div *ngIf="exampleVar=='Class'" class="col-9">
  <div>
 
    {{ 20*123 }} 
    <h1>{{ mcar.name}}</h1>
    <h1>{{ newCar.name}}</h1>
  
    <h1>{{ calc2.add() }}</h1>
   
  </div>
  
  <button (click) = "firstMethod($event)"  class="btn btn-primary">Click Me!</button>
  <input (keypress) = "firstMethod($event)" [(ngModel)] = "firstname" name="inText" value="" />
  <h3>{{firstname}}</h3>
  
  </div>
  <div class="col-9" *ngIf="exampleVar=='Interface'">
    <app-interface-test></app-interface-test>
  </div>
  <div class="col-9" *ngIf="exampleVar=='Types'">
    <app-type-example></app-type-example>
  </div>
  <div class="col-9" *ngIf="exampleVar=='IfFor'">
    <app-if-for-example></app-if-for-example>
  </div>
</div>
<div *ngIf = "valBool && valBool2">
  <h1>First Condition True</h1>
</div>
<div *ngIf = "valBool2">
  <h1>Second Condition True</h1>
</div>

<button class="btn btn-primary"(click)="showFirst()">Show First</button>
<button class="btn btn-primary"(click)="showSecond()">Show Second</button>