 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Angular Study App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a routerLink="/post/postlist" routerLinkActive="route-class" class="nav-link" href="#">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/component-study" routerLinkActive="route-class" class="nav-link" href="#">Component</a>
      </li>
      
      <!-- <li class="nav-item">
        <a routerLink="/albumlist" class="nav-link" href="#">Albums</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="/registration" routerLinkActive="route-class" class="nav-link" href="#">Registration</a>
      </li>

      <li class="nav-item">
        <a routerLink="/example" routerLinkActive="route-class" class="nav-link" href="#">Example TypeScript</a>
      </li>

      <li class="nav-item">
        <a routerLink="/pipe-study" routerLinkActive="route-class" class="nav-link" href="#">Pipe Example</a>
      </li>
      
      
      
      <li class="nav-item">
        <a routerLink="/structural-directive" routerLinkActive="route-class" class="nav-link" href="#"> Directive  </a>
      </li>
      <li class="nav-item">
        <a routerLink="/album" routerLinkActive="route-class" class="nav-link" href="#"> Albums  </a>
      </li>
      <li class="nav-item">
        <a routerLink="/animate-study" routerLinkActive="route-class" class="nav-link" href="#"> Animations  </a>
      </li>

       </ul>
  </div>
</nav>


<router-outlet></router-outlet>
<router-outlet name="no2"></router-outlet>


<!-- <p [hidden]="show">test value</p>
<!-- <app-product></app-product> -->

<!-- <button class="btn btn-primary" (click)="testM()">Click Me!</button>

<ul>
  <li *ngFor="let r of myarr">{{r}}</li>
</ul> -->